body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
header {
    height: 81px;
    z-index: 1;
}
.bgColor {
    background-color: #7200b9;
    color: #fff;
    padding-left: 15px;
    padding-right: 5px;
    line-height: normal;
    border-radius: 3px;
}
.hero {
    height: 90vh;
    padding-top: 150px;
    background-color: #7200b9;
    /* background: #2A7B9B; */
    background: linear-gradient(0deg,rgba(164, 75, 219, 1) 0%, rgba(114, 0, 185, 1) 50%, rgba(138, 101, 161, 1) 100%);
}
.scrolled {
    background-color: #7200b9;
    transition: all 0.3s ease-in-out;
}
header .container {
    border-bottom: 1px solid rgb(255, 255, 255);
}
.scrolled .container {
    border: 0;
}
header h3 span {
    font-size: 1.55rem;
}
.navbar-nav .nav-link {
    color: #fff;    
}
.navbar-nav .nav-link.active {
    color: #ffffff70;    
    font-weight: 600;
}
.hero h2 {
    font-size: 4rem;
}
.hero p {
    font-size: 30px;
}
.overview h2,
.intro h2 {
    font-size: 2.5rem;
}
.intro .card:hover {
    background-color: #7200b9;
    transition: all 0.3s ease-in-out;
}
.intro .card:hover svg {
    stroke: #fff;
    transition: all 0.3s ease-in-out;
}
.intro .card:hover .card-title,
.intro .card:hover .card-text,
.intro .card:hover .btn{
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.overview .aboutImg {
    height: 490px;
    width: 100%;
    background-color: #7200b9;
    background-image: url(../img/overview-bg.png);
    background-size: cover;
}
.overview .aboutImg .container {
    border: 1px dotted #ffffff70;
    position: relative;
    /* border-top-width: 0;
    border-bottom-width: 0; */
    height: 100%;
}
.overview .aboutImg .container::after {
    content: '';
    position: absolute;
    border: 3px solid #fff;
    border-right: 0;
    border-bottom: 0;
    height: 30px;
    width: 30px;
    top: -2px;
    left: -2px;
}
.overview .aboutImg .container::before {
    content: '';
    position: absolute;
    border: 3px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 30px;
    width: 30px;
    bottom: -2px;
    right: -2px;
}
.calc {
    height: 50px;
    width: 100%;
    background-color: #ccc;
}
.calc .meter {
    height: 50px;
    background-color: #7200b9;
}
#testimonialCarousel {
    max-width: 500px;
    margin: 0 auto;
}
.quote-mark {
    font-size: 150px;
    height: 100px;
    display: block;
    line-height: normal;
    position: relative;
}
.carousel-indicators button {
    padding: 2px !important;
    background-color: #7200b9 !important;
    height: 10px !important;
}
/*  */
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #f0f0f0;
}

.marquee-track {
  display: flex;
}

.marquee-item {
  padding: 0 1rem;
  font-size: 2.5rem;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 900;
}
